@forward './reset';
@forward 'variables/global';
@forward 'themes/dark';
@forward 'themes/normal';

.app {
    font: var(--font-m);

    background: var(--bg-color);
    color: var(--primary-color);

    min-height: 100vh;
}
